[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pyinquirer = "*"
ansible = "*"
pybluez2 = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
piexif = "*"

[dev-packages]

[requires]
python_version = "3.10"
