[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pyinquirer = "*"
ansible = "*"
pybluez2 = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
piexif = "*"
pillow = "*"
tqdm = "*"
open3d = "*"
matplotlib = "*"
fpdf = "*"
networkx = "*"
pyceres = "*"
opencv-python = "*"
opencv-contrib-python = "==4.11.0.86"

[dev-packages]

[requires]
python_version = "3.10"
